
.fishCard__img{
    width: 10%;
}

.fishCard__name{
    font-weight: bold;

}

.containerLeft__fishList{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border: burlywood;
    box-shadow: darkgreen;
    margin: 20px;
}
